@font-face{font-family:'Caveat';font-weight:700;src:url('Caveat-700.ttf') format('truetype');}
@font-face{font-family:'Manrope';font-weight:500;src:url('Manrope-500.ttf') format('truetype');}
@font-face{font-family:'Manrope';font-weight:700;src:url('Manrope-700.ttf') format('truetype');}
@font-face{font-family:'Manrope';font-weight:800;src:url('Manrope-800.ttf') format('truetype');}
@font-face{font-family:'Unbounded';font-weight:400;src:url('Unbounded-400.ttf') format('truetype');}
@font-face{font-family:'Unbounded';font-weight:600;src:url('Unbounded-600.ttf') format('truetype');}
@font-face{font-family:'Unbounded';font-weight:800;src:url('Unbounded-800.ttf') format('truetype');}
@font-face{font-family:'Unbounded';font-weight:900;src:url('Unbounded-900.ttf') format('truetype');}
